In [1]:
# Import the required libraries and dependencies
import pandas as pd
import datetime as dt
from prophet import Prophet
import matplotlib.pyplot as plt
from datetime import datetime
import pytz

%matplotlib inline

In [9]:
# Read census data for years 2000 - 2010
df_census_2000_2010 = pd.read_csv ('data/census_2000-2010.csv')
display ( df_census_2000_2010 )

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,NAME,STNAME,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
0,40,1,0,0,0,Alabama,Alabama,4447207,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736,4785298
1,162,1,0,124,0,Abbeville city,Alabama,2989,2985,2941,2909,2882,2857,2820,2807,2784,2742,2714,2688,2689
2,162,1,0,460,0,Adamsville city,Alabama,5033,5021,4960,4894,4841,4784,4728,4687,4633,4594,4558,4522,4523
3,162,1,0,484,0,Addison town,Alabama,698,701,701,708,714,722,729,741,750,752,759,758,755
4,162,1,0,676,0,Akron town,Alabama,488,485,473,454,442,426,416,404,395,384,369,356,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81620,157,56,43,99990,0,Balance of Washakie County,Wyoming,2550,2539,2500,2490,2502,2514,2548,2550,2626,2660,2739,2786,2793
81621,50,56,45,0,0,Weston County,Wyoming,6643,6627,6487,6578,6610,6646,6594,6717,7033,7133,7266,7208,7182
81622,157,56,45,56215,0,Newcastle city,Wyoming,3313,3298,3224,3259,3268,3283,3246,3297,3471,3506,3565,3532,3520
81623,157,56,45,79125,0,Upton town,Wyoming,881,884,878,906,924,942,949,982,1034,1065,1098,1100,1096
81624,157,56,45,99990,0,Balance of Weston County,Wyoming,2449,2445,2385,2413,2418,2421,2399,2438,2528,2562,2603,2576,2566

In [3]:
# Read census data for years 2010 - 2019
df_census_2010_2019 = pd.read_csv ('data/census_2010-2019.csv')
display ( df_census_2010_2019 )

,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"Aberdeen village, Ohio","1,638","1,640","1,643","1,634","1,622","1,616","1,612","1,603","1,604","1,602","1,608","1,604"
1,"Ada village, Ohio","5,952","5,959","5,967","5,733","5,769","5,850","5,838","5,806","5,595","5,603","5,550","5,544"
2,"Adamsville village, Ohio",114,123,123,123,123,123,123,124,123,124,124,124
3,"Addyston village, Ohio",938,945,945,943,945,948,947,945,944,942,939,936
4,"Adelphi village, Ohio",380,380,380,377,377,378,377,375,374,376,374,375
...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,"Youngstown city, Ohio","66,982","66,946","66,876","66,556","66,056","65,470","65,142","64,687","64,335","64,540","64,860","65,469"
926,"Zaleski village, Ohio",278,278,278,277,274,274,275,270,270,271,272,271
927,"Zanesfield village, Ohio",197,197,196,196,195,194,194,193,192,194,194,196
928,"Zanesville city, Ohio","25,487","25,316","25,354","25,352","25,247","25,167","25,210","25,278","25,182","25,204","25,166","25,158"
929,"Zoar village, Ohio",169,169,169,171,173,175,177,177,177,176,178,178

In [4]:
# Read census data for years 2020 - 2023
df_census_2020_2023 = pd.read_csv ('data/census_2020-2023.csv')
display ( df_census_2020_2023 )

,Geographic Area,"April 1, 2020\nEstimates Base",2020,2021,2022,2023
0,"Aberdeen village, Ohio","1,516","1,516","1,518","1,518","1,523"
1,"Ada village, Ohio","5,329","5,334","5,170","5,257","5,302"
2,"Adamsville village, Ohio",137,137,137,137,137
3,"Addyston village, Ohio",926,925,917,907,904
4,"Adelphi village, Ohio",318,318,317,316,316
...,...,...,...,...,...,...
920,"Youngstown city, Ohio","60,047","59,890","59,193","59,217","59,108"
921,"Zaleski village, Ohio",228,228,226,223,221
922,"Zanesfield village, Ohio",190,190,189,190,189
923,"Zanesville city, Ohio","24,768","24,774","24,768","24,593","24,651"
924,"Zoar village, Ohio",176,176,175,173,173